{% block header %}
        <nav>
          <ul class="nav nav-pills float-right">
              {% if current_user.is_authenticated %}
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-primary" href="{{ url_for('tickets_list') }}">Tickets</a>
                  </li>
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-warning" href="{{ url_for('new_ticket') }}">New ticket</a>
                  </li>
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-info" href="{{ url_for('settings') }}">Settings</a>
                  </li>
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-outline-dark" href="{{ url_for('control_page') }}">Control</a>
                  </li>
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-outline-success" href="{{ url_for('tasks_list') }}">Tasks</a>
                  </li>
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item header_menu">
                      <a role="button" class="btn btn-success" href="{{ url_for('login') }}">Login</a>
                  </li>
              {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Simple Parking</h3>
{% endblock %}