{% block control_page %}
    <!-- styles -->
    <link href="{{ url_for('static', filename='personal/css/control_page_style.css') }}" rel="stylesheet">

    <h3 class="control-table-heading">
        Control page
        <hr>
        <a role="button" href="{{ url_for('control_page') }}" class="btn btn-outline-dark">All controllers</a>
        <a role="button" href="{{ url_for('control_page', filter_by_type='entry') }}" class="btn btn-outline-dark">Entry controllers</a>
        <a role="button" href="{{ url_for('control_page', filter_by_type='exit') }}" class="btn btn-outline-dark">Exit controllers</a>
        <hr>
    </h3>


    {% if payload.controlers %}

        {% for controller in payload.controlers %}
            <div class="control-heading">
                <strong>Controller name:</strong> 
                {{controller.controller_name}}, №{{controller.id}}
            </div>

            {% if controller.controller_condition_status.code != 'not' %}
                <div class="control-heading">
                    <strong>Controller current condition status:</strong> 
                    {{controller.controller_condition_status.value}}
                    {% if controller.controller_condition_status.code == controller.locked_gate %}
                        <br>
                        <strong>Lock type status:</strong>
                        {{controller.controller_position_status.value}}
                    {% endif %}
                </div>
                <div class="control-heading">
                    <form method="post">
                        <strong>Change status to:</strong>
                        <br>
                        {% if controller.controller_condition_status.code == 'lock' %}
                            <button type="submit" name="unlock_button" value={{controller.id}} class="btn btn-outline-success">Unlock</button>
                        {% elif controller.controller_condition_status.code == 'unlock' %}
                            <button type="submit" name="open_onetime_button" value={{controller.id}} class="btn btn-outline-primary">Open one time</button>  
                            <button type="submit" name="lock_closed_button" value={{controller.id}} class="btn btn-outline-danger">Lock closed</button>  
                            <button type="submit" name="lock_opened_button" value={{controller.id}} class="btn btn-outline-success">Lock opened</button>  
                        {% endif %}
                    </form>
                </div>
            {% endif %}
            <hr>
        {%endfor%}
        
    {% else %}
        <h2 style="text-align: center;">Nothing to show</h2>
    {% endif %}

{% endblock %}