{% block edit_ticket %}
<!-- styles -->
<link href="{{ url_for('static', filename='personal/css/edit_ticket_style.css') }}" rel="stylesheet">

<table class="table  table-striped  table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Creation datetime</th>
            <th scope="col">Valid datetime</th>
            <th scope="col">Scanned datetime</th>
            <th scope="col">Available to delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{payload.ticket.ticket_number or "-"}}</td>
            <td>{{payload.ticket.ticket_type.value}}</td>
            <td>{{payload.ticket.ticket_creation_datetime or "-"}}</td>
            <td>{{payload.ticket.ticket_valid_datetime or "-"}}</td>
            <td>{{payload.ticket.ticket_scanned_datetime or "-"}}</td>
            <td>{{payload.ticket.ticket_available_to_delete or "False"}}</td>
        </tr>
    </tbody>
</table>

<form class="form-edit-ticket" method="post">
    {{ form.csrf_token }}

    <h2 class="form-new-ticket-heading">Edit fields</h2>
    {{ form.ticket_type(class="form-control", placeholder="Choice type", required="") }}
    {{ form.ticket_valid_datetime(class="form-control", type="datetime-local", required="") }}

    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
</form>
{% endblock %}