{% block login %}
<link href="{{ url_for('static', filename='personal/css/login_style.css') }}" rel="stylesheet">
    <form class="form-signin" method="post">
        {{ form.csrf_token }}

        <h3 class="form-signin-heading">Please sign in</h3>

        {{ form.username(class="form-control", placeholder="Username", required="") }}
        {{ form.password(class="form-control", placeholder="Password", required="") }}

        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}