{% block new_ticket %}
<!-- styles -->
<link href="{{ url_for('static', filename='personal/css/new_ticket_style.css') }}" rel="stylesheet">
<form class="form-new-ticket" method="post">
    {{ form.csrf_token }}

    <h3 class="form-new-ticket-heading">New ticket form</h3>
    <h5 class="form-new-ticket-heading">Please fill all fields</h5>

    {{ form.ticket_number(class="form-control", placeholder="Ticket number", type="number", required="") }}
    {{ form.ticket_type(class="form-control", placeholder="Choice type", required="") }}
    {{ form.ticket_pay(class="form-control", placeholder="Choice paid status", required="") }}
    {{ form.ticket_valid_datetime(class="form-control", type="datetime-local", required="") }}

    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
</form>
{% endblock %}