{% block settings %}
<!-- styles -->
<link href="{{ url_for('static', filename='personal/css/edit_settings_style.css') }}" rel="stylesheet">
<form class="form-edit-settings" method="post">
    {{ form.csrf_token }}

    <h3 class="form-edit-settings-heading">System settings</h3>
    <h5 class="form-edit-settings-heading">Please fill all fields</h5>


    <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
            {{ form.ticket_delete_period.label }}
            <small class="form-text text-muted">In days</small>
        </label>
        <div class="col-7">
            {{ form.ticket_delete_period(class="form-control", required="", type="number", min=0) }}
        </div>
    </div>
    

    <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
            {{ form.ticket_valid_period.label }}
            <small class="form-text text-muted">In hours</small>
        </label>
        <div class="col-7">
            {{ form.ticket_valid_period(class="form-control", required="", type="number", min=0) }}
        </div>
    </div>


    <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
            {{ form.ticket_text.label }}
            <small class="form-text text-muted">Text on paper ticket</small>
        </label>
        <div class="col-7">
            {{ form.ticket_text(class="form-control", required="") }}
        </div>
    </div>

    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
</form>

{% endblock %}