{% block tasks_list %}
<!-- styles -->
<link href="{{ url_for('static', filename='personal/css/tasks_list.css') }}" rel="stylesheet">

<h3 class="tasks-table-heading">Tasks list</h3>

{% if payload.tasks %}
    <table class="table  table-striped  table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='id') }}" class="btn btn-outline-success">ID</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='name') }}" class="btn btn-outline-success">Task name</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='type') }}" class="btn btn-outline-success">Task Type</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list') }}" class="btn btn-outline-success">Task description</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='start_datetime') }}" class="btn btn-outline-success">Start datetime</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='end_datetime') }}" class="btn btn-outline-success">End datetime</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tasks_list', order_type='completed') }}" class="btn btn-outline-success">Completed</a></th>
          </tr>
        </thead>
        <tbody>
                {% for task in payload.tasks %}
                    <tr>
                        <th scope="row">{{task.id}}</th>
                        <td>{{task.task_name}}</td>
                        <td>{{task.task_type.value}}</td>
                        <td>{{task.task_description}}</td>
                        <td>{{task.task_start_datetime}}</td>
                        <td>{{task.task_end_datetime or "-"}}</td>
                        <td>{{task.task_is_complete or "False"}}</td>
                    </tr>
                {% endfor %}
        </tbody>
      </table>
      
{% else %}
    <h2 style="text-align: center;">Nothing to show</h2>
{% endif %}

{% endblock %}