{% block tickets_list %}
<!-- styles -->
<link href="{{ url_for('static', filename='personal/css/tickets_list.css') }}" rel="stylesheet">

<h3 class="tickets-table-heading">Tickets list</h3>

    {% block search %}
        {% include "forms/ticket_search_form.html" %}
    {% endblock %}

{% if payload.tickets %}    
    <table class="table  table-striped  table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><a role="button" href="{{ url_for('tickets_list', order_type='id') }}" class="btn btn-outline-success">ID</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tickets_list', order_type='number') }}" class="btn btn-outline-success">Ticket Number</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tickets_list', order_type='type') }}" class="btn btn-outline-success">Ticket Type</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tickets_list', order_type='creation_datetime') }}" class="btn btn-outline-success">Creation datetime</a></th>
            <th scope="col"><a role="button" href="{{ url_for('tickets_list', order_type='valid_datetime') }}" class="btn btn-outline-success">Valid datetime</a></th>
            <th scope="col">Management</th>
          </tr>
        </thead>
        <tbody>
                {% for ticket in payload.tickets %}
                    <tr>
                        <th scope="row">{{ticket.id}}</th>
                        <td>{{ticket.ticket_number or "-"}}</td>
                        <td>{{ticket.ticket_type.value}}</td>
                        <td>{{ticket.ticket_creation_datetime or "-"}}</td>
                        <td>{{ticket.ticket_valid_datetime or "-"}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <h6 class="dropdown-header">Dropdown management</h6>
                                    <a class="dropdown-item" href="{{ url_for('print_ticket', ticket_id=ticket.id) }}">Print</a>
                                    <a class="dropdown-item" href="{{ url_for('edit_ticket', ticket_id=ticket.id) }}">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('delete_ticket', ticket_id=ticket.id) }}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
      </table>
      
{% else %}
    <h2 style="text-align: center;">Nothing to show</h2>
{% endif %}

{% endblock %}