<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Simple Parking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Popper JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/popper.js') }}"></script>
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <!-- Bootstrap core -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <link href="{{ url_for('static', filename='personal/css/header.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">

            {% block header %}
                {% include payload.header %}
            {% endblock %}

        </div>

        <div>
            <div>
                {% block flashed_messages %}
                    {% include "elements/message.html" %}
                {% endblock %}
            </div>
            
            {% block main_content %}
                {% include payload.doc %}
            {% endblock %}

        </div>

    </div>
</body>
</html>