
.form-edit-settings{
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.form-edit-settings .form-edit-settings-heading,
.form-edit-settings .checkbox {
  margin-bottom: 10px;
}
.form-edit-label{
  padding-right: 0px;
}
.form-edit-settings-heading{
  text-align: center;
}

.form-edit-settings .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-edit-settings .form-control:focus {
  z-index: 2;
}
.form-edit-settings select{
  border-radius: 0;
  height: auto !important;
}
.form-edit-settings input[type="number"] {
  margin-bottom: 10px;
}
.form-edit-settings input[type="datetime-local"] {
  margin-bottom: 10px;
}
