.table thead th {
  vertical-align: middle;
}
.form-new-ticket-heading{
  text-align: center;
}

.form-edit-ticket{
    padding: 15px;
    max-width: 330px;
    margin: 0 auto;
}
.form-edit-ticket .form-edit-ticket-heading,
.form-edit-ticket .checkbox {
  margin-bottom: 10px;
}

.form-edit-ticket .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-edit-ticket .form-control:focus {
  z-index: 2;
}
.form-edit-ticket select{
  border-radius: 0;
  height: auto !important;
}
.form-edit-ticket input[type="datetime-local"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
