
.form-new-ticket{
    padding: 15px;
    max-width: 330px;
    margin: 0 auto;
}
.form-new-ticket .form-new-ticket-heading,
.form-new-ticket .checkbox {
  margin-bottom: 10px;
}

.form-new-ticket-heading{
  text-align: center;
}
.form-new-ticket .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-new-ticket .form-control:focus {
  z-index: 2;
}
.form-new-ticket select{
  border-radius: 0;
  height: auto !important;
}
.form-new-ticket input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-new-ticket input[type="datetime-local"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
