
.ticket-search-settings{
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.btn.btn-primary.btn-lg{
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

.ticket-search-settings .ticket-search-settings-heading,
.ticket-search-settings .checkbox {
  margin-bottom: 10px;
}
.form-edit-label{
  padding-right: 0px;
}
.ticket-search-settings-heading{
  text-align: center;
}

.ticket-search-settings .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.ticket-search-settings .form-control:focus {
  z-index: 2;
}
.ticket-search-settings select{
  border-radius: 0;
  height: auto !important;
}
.ticket-search-settings input[type="number"] {
  margin-bottom: 10px;
}
.ticket-search-settings input[type="datetime-local"] {
  margin-bottom: 10px;
}
