{% block ticket_search_form %}
    <link href="{{ url_for('static', filename='personal/css/search_form_style.css') }}" rel="stylesheet">

    <form class="ticket-search-settings" method="post">
        {{ form.csrf_token }}
        <div class="d-flex justify-content-center">

            <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#SearchForm" role="button" aria-expanded="false" aria-controls="SearchForm">   
                Ticket search
            </a>

        </div>
        
        <div class="collapse" id="SearchForm">
            <hr>

            <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_number.label }}
                            <small class="form-text text-muted">Number</small>
                        </label>
                        <div class="col-7">
                            {{ form.ticket_number(class="form-control", type="number", min=0) }}
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_type.label }}
                            <small class="form-text text-muted">Choice</small>
                        </label>
                        <div class="col-7">
                            {{ form.ticket_type(class="form-control") }}
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_creation_datetime_start.label }}
                            <small class="form-text text-muted">Date and time</small>
                        </label>
            
                        <div class="col-7">
                            <div class="col-12">
                                {{ form.ticket_creation_datetime_start(class="form-control", type="datetime-local") }}
                            </div>
                            <div class="col-12">
                                {{ form.ticket_creation_datetime_end(class="form-control", type="datetime-local") }}
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_valid_datetime_start.label }}
                            <small class="form-text text-muted">Date and time</small>
                        </label>
                
                        <div class="col-7">
                            <div class="col-12">
                                {{ form.ticket_valid_datetime_start(class="form-control", type="datetime-local") }}
                            </div>
                            <div class="col-12">
                                {{ form.ticket_valid_datetime_end(class="form-control", type="datetime-local") }}
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_scanned_datetime_start.label }}
                            <small class="form-text text-muted">Date and time</small>
                        </label>
                    
                        <div class="col-7">
                            <div class="col-12">
                                {{ form.ticket_scanned_datetime_start(class="form-control", type="datetime-local") }}
                            </div>
                            <div class="col-12">
                                {{ form.ticket_scanned_datetime_end(class="form-control", type="datetime-local") }}
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="example-text-input" class="col-5 col-form-label form-edit-label">
                            {{ form.ticket_available_to_delete.label }}
                            <small class="form-text text-muted">Check/Uncheck</small>
                        </label>
                        <div class="col-7">
                            {{ form.ticket_available_to_delete(class="form-control", type="checkbox") }}
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Search</button>
                
            <hr>
        </div>

    </form> 
{% endblock %}